.packages-container {
  padding: 0 1rem;
}

.package-card {
  background-color: rgb(230, 228, 228);
  width: 100%;
  padding: 3rem;
  border-radius: 10px;
  margin-bottom: 3rem;
}

@media screen and (max-width: 31.25em) {
  .package-card {
    padding: 2rem;
  }
}

.package-name {
  text-transform: capitalize;
}
.package-card-inner-wrapper {
  margin-top: 2rem;
  display: flex;
}

@media screen and (max-width: 60em) {
  .package-card-inner-wrapper {
    flex-direction: column-reverse;
    gap: 3rem;
  }
}

.package-card-left {
  width: 50%;
  padding-right: 3rem;
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

@media screen and (max-width: 60em) {
  .package-card-left {
    width: 100%;
  }
}

.package-card-right {
  width: 50%;
}

@media screen and (max-width: 60em) {
  .package-card-right {
    width: 100%;
  }
}

.package-card-tagline {
  text-transform: capitalize;
  font-style: italic;
  font-size: 2rem;
  font-weight: 200;
}
.package-card-excerpt {
  line-height: 3rem;
  color: rgb(110, 110, 110);
}

.package-card-details {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 25em) {
  .package-card-details {
    flex-direction: column;
    gap: 2rem;
    align-items: start;
  }
}
.package-card-details-left {
  display: flex;
  flex: 1;
  gap: 1rem;
  align-items: center;
}

.package-card-details-right {
  display: flex;
  flex: 1;
  align-items: center;
}

.package-card-details svg,
.package-card-details p {
  font-weight: 800;
  font-size: 2.5rem;
  color: var(--primary-color);
}

.package-card-details a {
  text-transform: capitalize;
  color: var(--primary-color);
  padding: 1rem;
  border-radius: 2em;
  transition: all 0.5s;
}

.package-card-details a:hover {
  background-color: var(--primary-color);
  color: white;
}
.package-card-right {
  display: flex;
  flex-direction: column;
  height: 40rem;
  gap: 1rem;
}

@media screen and (max-width: 37.5em) {
  .package-card-right {
    height: 70rem;
  }
}

.images-top-row,
.images-bottom-row {
  height: 50%;
  width: 100%;
  display: flex;
  gap: 1rem;
}

@media screen and (max-width: 37.5em) {
  .images-top-row,
  .images-bottom-row {
    flex-direction: column;
  }
}

.image1-wrapper,
.image2-wrapper,
.image3-wrapper,
.image4-wrapper {
  width: 50%;
  height: 100%;
  overflow: hidden;
  border-radius: 1rem;
}

@media screen and (max-width: 37.5em) {
  .image1-wrapper,
  .image2-wrapper,
  .image3-wrapper,
  .image4-wrapper {
    width: 100%;
  }
}

.image1-wrapper img,
.image2-wrapper img,
.image3-wrapper img,
.image4-wrapper img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
