.destination-cards{
    padding: 0rem 3rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.destination-card{
    width: 35rem;
    border-radius: 2rem;
    box-shadow: 7px 13px 36px -14px rgba(0, 0, 0, 0.63);
    -webkit-box-shadow: 7px 13px 36px -14px rgba(0, 0, 0, 0.63);
    -moz-box-shadow: 7px 13px 36px -14px rgba(0, 0, 0, 0.63);
    overflow: hidden;
}

.destination-image-wrapper{
    width: 100%;
    height: 25rem;
    position: relative;
    overflow: hidden;
}
.destination-image-wrapper img{
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    transition: transform 2s, filter 1.5s ease-in-out;
    transform-origin: center center;
    filter: brightness(50%);
}

.destination-card:hover{
    .destination-image-wrapper img {
        transform: scale(1.3);
        filter: brightness(100%);
      }
    .destination-name{
        display: none;
    }
} 



.destination-name{
    text-align: center;
    position: absolute;
    left: 32%;
    top: 45%;
    color: white;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: bold;
    transition: all 0.5s;
    max-width: 10rem;
}

.excerpt-cont{
    padding-inline: 1rem;
}
.destination-excerpt{
    margin-top: 1rem;
    text-align: center;
    color: rgb(122, 121, 121);
    line-height: 2.5rem;
}
.destination-card-cta{
    padding: 2rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.destination-price{
    font-size: 2rem;
    font-weight: 800;
}

.destination-card-cta a{
    color: white;
    text-transform: uppercase;
    font-weight: 500;
    padding: 1rem 2rem;
    background-color: var(--primary-color);
    border-radius: 3rem;
    transition: all 0.5s;
}

.destination-card-cta a:hover{
    background-color: transparent;
    color: black;
}