:root{
  --primary-font: "Inter", sans-serif;
  --primary-color: rgb(63, 15, 40);
  --secondary-color: rgb(253, 141, 78);
  --color-yellow-light: rgb(210, 105, 30);
  --color-black: black;
  --color-white: white;
  --light-purple: rgb(207, 187, 198);

}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-size: 62.5%;
}

body{
  font-size: 1.6rem;
  font-family: var(--primary-font);
}

a{
  text-decoration: none ;
}

ul, ol{
  list-style: none;
}