:root{
  --primary-font: "Inter", sans-serif;
  --primary-color: rgb(63, 15, 40);
  --secondary-color: rgb(253, 141, 78);
  --color-yellow-light: rgb(250, 225, 99);
  --gray-light: rgb(252, 248, 248);
  --color-black: black;
  --color-white: rgb(247, 238, 238);
  --light-purple: rgb(207, 187, 198);
  --blue-color: rgb(53, 118, 146);

}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-size: 62.5%;
}

body{
  font-size: 1.6rem;
  font-family: var(--primary-font);
}

a{
  text-decoration: none ;
}

ul, ol{
  list-style: none;
}